@charset "utf-8";
@import url(http://fonts.googleapis.com/earlyaccess/notosanskr.css);
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 100;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Thin.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 300;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Light.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 400;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Regular.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 500;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Medium.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 700;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Bold.otf) format('opentype');}
@font-face {font-family: 'NotoSansKR';font-style: normal;font-weight: 900;src: url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff2) format('woff2'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.woff) format('woff'),url(//fonts.gstatic.com/ea/notosanskr/v2/NotoSansKR-Black.otf) format('opentype');}

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;800;900&display=swap');

* {
  padding: 0;
  margin: 0;
  border: 0;
  outline: none;
  font-size: 100%;
  font-family: 'Rubik', 'Montserrat', 'NotoSansKR', sans-serif;
  font-style: normal;
  font-weight: 300;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2d2b4b;
}

.container {
    position: relative;
    background: #fff;
    width: 700px;
    /* max-height: 800px; */
    /* height: 100px; */
    padding: 20px;
    overflow: hidden;
    border-radius: 25px;
    transition: 1s ease-out;
}

.search-box {
    background: #eeeeee;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100px;
    border-radius: 25px;
    padding: 0px 15px;
}

.search-box input {
    background: transparent;
    color: #2d2b4b;
    width: 80%;
    font-size: 32px;
    font-weight: 500;
    text-transform: uppercase;
    padding-left: 60px;
    text-align: center;
}

.search-box input:placeholder {
    text-transform: capitalize;
}

.search-box button {
    cursor: pointer;
    font-size: 45px;
    color: #2d2b4b;
    background: #e2e2e2;
    border-radius: 50%;
    padding: 10px;
    transition: 0.4s ease;
}

.search-box button:hover {
    color: #fff;
    background: #2d2b4b;

}

.search-box i{
    position: absolute;
    color: #2d2b4b;
    font-size: 50px;
}

.country-box {
    background: #e2e2e2;
    margin-top: 20px;
    border-radius: 25px;
    padding: 15px;
}

.country-box .mapbox {
    background: #fff;
    padding: 15px;
    border-radius: 25px;
    
}

.map {
    width: 100%;
    height: 500px;
    border-radius: 20px;
}

.country-marker img{
    transition: width 0.3s ease;
}

.country-marker img:hover {
    width: 70px;
    cursor: pointer;
}

/* .country-box {
    display: flex;
    flex-direction: column;
    background: #e2e2e2;
    padding: 15px;
    border-radius: 25px;
    max-height: 650px;
    margin-top: 20px;
    align-items: center;
    text-align: center;
    transition: 1s ease-out;
} */

/* .country-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: auto;

} */

/* .country-list .country {
    max-width: 130px;
    padding: 10px 0px;
} */

/* .country-box .country .country-img {
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 10px;
    width: 100px;
    height: 80px;
    cursor: pointer;
} */

/* .country-box .country .country-img:hover {
    background: rgba(255, 255, 255, 0.874);
    box-shadow: 0 2px 6px rgba(136, 148, 171, 0.42),
    0 24px 20px -24px rgba(71, 82, 107, 0.069);
} */

/* .country-box .country .country-img img {
    width: 100%;
    height: 100%;
} */

/* .country-box .country p{
    font-size: 14px;
    font-weight: 500;
} */

/* .country-box .country .name {
    margin-top: 10px;
} */

/* .country-box .country .not-found {
} */

/* .country-detail {
    position: relative;
    margin-top: 20px;
    padding: 15px;
    border-radius: 25px;
    background: #e2e2e2;
    height: 600px;
} */

/* .country-detail img{
    width: 200px;
} */

/* .map-container {
    background: #fff;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
} */

.fadeIn {
    animation: 0.6s fadeIn forwards;
    animation-delay: 0.5s;
}



@keyframes fadeIn {
    to {
        scale: 1;
        opacity: 1;
    }
}